*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
nav{
    width: 100%;
    padding: 5px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
nav logo{
    font-family: 'Dancing Script', cursive;
    font-size: 3.1rem;
    background-color: #009688;
    font-weight: bolder;
    top: 4%;
    left: 8%;
    padding: 0 6px;
    letter-spacing: 3px;
    color: rgba(255,255,255,0.9);
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    padding: 5px 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition: .5s;
    padding-bottom: 6px;
}
nav ul li a:hover{
    border-radius: 4px;
    background-color:#009688;
    color: #fff;
}
nav ul li .main-btn{
    display: inline-block;
    background-color:#009688;
    text-transform: capitalize;
    color: #fff;
    padding: 8px 13px;
    transition: .5s;
    border-radius: 3px;
}
nav ul li .main-btn:hover{
    border: none;
    background-color:#8bd1ca;
}
nav .fa{
    font-size: 35px;
    color: #000;
    display: none;
}
@media screen and (max-width: 1093px){
    nav logo{
        font-size: 100px;
    }
    nav #active{
        display: block;
        font-size: 50px;
    }
    nav #close{
        display: none;
        font-size: 50px;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        top: 129px;
        left: 0;
        text-align: center;
        display: none;
    }
    nav ul li{
        padding: 20px 0;
        display: block;
        margin: 80px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 40px;
        font-weight: bold;
    }
    nav ul li .main-btn {
        padding: 20px 30px;
        border-radius: 20px;
    }
}
.container{
    text-align: center;
    width:1250px;
    margin: 160px auto;
    padding: 20px 0;
}
/*------title------*/
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 24px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}
.feature1-box{
    padding: 0 20px;
    width: 80%;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.feature1{
    flex-basis: 50%;
    padding: 40px;
    animation: slide-in 2000ms;
}
.feature1 h2{
    font-size: 30px;
    font-weight: bolder;
    margin: 20px 0;
    text-align: left;
}
.feature1 p{
    padding: 10px;
    margin-bottom: 8px;
    font-size: 16px;
}
.feature1-img{
    flex-basis: 50%;
}
.feature1-img:nth-child(2){
    flex-basis: 50%;
}
.feature1-img img{
    width: 70%;
    border-radius: 10px;
}
/*----gift card----*/
#gift{
    width: 1250px;
    margin: auto;
    padding: 60px;
    background: #efefef;
    border-radius: 20px;
    position: relative;
}
.feature1 button{
    padding: 10px 25px;
    background: #9b0876;
    outline: none;
    border: none;
    display: block;
    margin: 25px auto;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}
.feature1 button:hover{
    background: #e117af;
}
.feature1 a{
    font-size: 22px;
    letter-spacing: 2px;
}
.gift-img{
    flex-basis: 50%;
}
.gift-img img{
    width: 100%;
    border-radius: 10px;
}
#gift-form{
    width: 400px;
    min-height: 360px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 16%;
    text-align: center;
    padding: 25px;
    color: #555;
    animation: grow-and-shrink 4000ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*-----Home Services------*/
.content{
    width: 900px;
    margin: auto;
}
.content p{
    padding: 40px;
    font-size: 17px;
    margin-bottom: 30px;
    text-align: justify;
}
.content h2{
    font-size: 35px;
    margin: 15px;
    text-align: center;
}
 /*--------Footer-------*/
 #footer{
    width: 100%;
    padding: 100px 0 20px;
    position: relative;
    background: #efefef;
  }
  .footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .footer-right{
    text-align: right;
  }
  .footer-row h1{
    margin: 10px 0;
  }
  .footer-row p{
    line-height: 35px;
  }
  .footer-left .fa-solid, .footer-right .fa-solid{
    font-size: 20px;
    margin: 10px;
    color: #009688;
  }
.social-link{
    text-align: center;
}
.social-link .fa{
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    border-radius: 8px;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: .5s;
}
.social-link .fa:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-15px);
}
.social-link p{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    margin: 50px auto;
}
.arrow{
    top: 20%;
    right: 5%;
    margin-top: 30px;
    position: absolute;
}
.arrow .fa{
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    background: #009688;
    color: #fff;
    border: 1px solid #009688;
    border-radius: 8px;
    transition: 1s;
}
.arrow .fa:hover{
    background: #fff;
    color: #009688;
}
@media screen and (max-width: 770px){
    .title-text p{
        font-size: 35px;
    }
    .title-text h1{
        font-size: 60px;
    }
    .container{
        margin-top: 250px;
    }
    .feature1-box{
        width: 100%;
    }
    .feature1{
        flex-basis: 95%;
        margin: auto;
    }
    .feature1 h2{
        font-size: 30px;
    }
    .feature1 p{
        font-size: 16px;
    }
    .feature1-img{
        flex-basis: 90%;
    }
    .feature1-img:nth-child(2){
        flex-basis: 90%;
    }
    .feature1-img img{
        width: 90%;
    }
    .feature1 h1{
        font-size: 30px;
    }
    .feature1 p {
        font-size: 26px;
    }
    .feature1 button{
        padding: 15px 25px;
        font-size: 24px;
    }
    .gift-img{
        flex-basis: 100%;
    }
    .content h2{
        font-size: 50px;
    }
    .content p{
        font-size: 35px;
    }
    #footer{
        width: 1250px;
      }
      .footer-row{
        width: 85%;
        flex-direction: column;
      }
      .footer-left, .footer-right{
        flex-basis: 100%;
      }
      .footer-row h1{
        font-size: 50px;
      }
      .footer-row p{
        font-size: 25px;
      }
      .footer-left .fa-solid, .footer-right .fa-solid{
        font-size: 25px;
      }
    .social-link .fa{
        width: 150px;
        height: 150px;
        font-size: 90px;
        line-height: 150px;
    }
    .social-link .fa:hover{
        background: #009688;
        color: #fff;
        transform: translateY(-15px);
    }
    .social-link p{
        font-size: 50px;
    }
    .arrow{
        right: 8%;
    }
    .arrow .fa{
        text-align: center;
        width:100px;
        height:100px;
        font-size: 60px;
        line-height:100px;
    }
}